INPUT_DIR="$HOME/Pictures"
OUTPUT_DIR="$HOME/Pictures/converted"
RECURSIVE="true"
OVERWRITE="false"
QUALITY="90"
MOVE_ORIGINALS="false"
ARCHIVE_DIR="$HOME/Pictures/originals"
LOG_FILE=""

# montage.sh
OUTPUT_FILE="output.png"
TILE="3x"
GEOMETRY="+2+2"
EXTENSION="jpg"
BACKGROUND="none"
