# sshfs-mount.sh
SERVER="username@192.168.1.100"
REMOTE_PATH="/"
REMOTE_MOUNT_DIR="$HOME/remote_mount/sshfs"
PORT="22"

# nfs-mount.sh
SERVER_IP="192.168.1.100"
NFS_SHARE="/mnt/data/jellyfin"
MOUNT_POINT="$HOME/remote-mount/nfs"
NFS_OPTIONS=""
